@model bbrz_projekt.Data.tblUser

@{
    ViewBag.Title = "Delete";
}

<section id="page-title" class="page-title-pattern">

    <div class="container clearfix">
        <h1>Benutzer endgültig löschen?</h1>
        <span>ADMIN Bereich</span>
        <ol class="breadcrumb hidden-xs hidden-sm">
            <a href="~/User/Logout" class="button button button-border nomargin button-rounded" style="position: relative; top: -12px;">Ausloggen</a>
        </ol>
    </div>

</section>

<div class="container topmargin">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Firstname):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" class="btn btn-default" /> 
            }
        </dt>

        <dd>
           @Html.ActionLink("Back to List", "Start")
        </dd>

    </dl>

 
</div>
