@model IEnumerable<bbrz_projekt.Data.tblUser>

@{
    ViewBag.Title = "Index";

    <style>
        .tri-state .list-box option{
            color: black !important;
        }
        .list-box {
            background-color: rgba(0,0,0,0) !important;
            cursor: not-allowed;
        }
    </style>
}

<section id="page-title" class="page-title-pattern">

    <div class="container clearfix">
        <h1>Benutzer Verwalten</h1>
        <span>ADMIN Bereich</span>
        <ol class="breadcrumb hidden-xs hidden-sm">
            <a href="~/User/Logout" class="button button button-border nomargin button-rounded" style="position: relative; top: -12px;">Ausloggen</a>
        </ol>
    </div>

</section>
<section class="dark" style="padding: 80px;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gesperrt)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gesperrt)
            </td>
            <td>
                <a href="~/Admin/Edit?id=@item.Username">Bearbeiten</a> | 
                <a href="~/Admin/Delete?id=@item.Username">Löschen</a>
            </td>
        </tr>
    }

    </table>
            <div>
                <a href="~/Admin/Create" class="button button-rounded button-reveal button-small button-border tright"><i class="icon-plus"></i><span>Neuen Benutzer anlegen</span></a>
            </div>

        </div>
    </div>
</section>

